APP_PORT=<your-application-port>

DB_HOST=<your-database-host>
DB_PORT=5432
DB_USER=<your-database-username>
DB_PASSWORD=<your-database-password>
DB_NAME=<your-database-name>

KAFKA_BROKER=kafka:<your-kafka-broker-port>
KAFKA_TOPIC=<your-kafka-topic>
PAYMENT_TOPIC=<your-payment-topic>